.contact-form-container input,textarea{
    width: 100%;
    background-color: black;
    border: 1px solid white;
    color: white;
     padding: 5px;
     outline: none;
border-radius: 5px;
margin-bottom: 5px
;
}


.contact-form-container textarea{
    width: 100%;
    background-color: black;
    color: white;
}
.contact-form-container textarea:focus{
    border: 2px solid green;
}
.contact-form-container{
    border: 1px solid white;
    border-radius: 5px;
    max-width: 460px;
    width: 100%;
   
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 15px;
}
.center-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  flex-direction: column;
}